body {
  background-color: #ffffff;
}

.login-container {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 25px 50px;
  margin-top: 50px;
}

.login-header {
  text-align: center;
  margin-bottom: 30px;
}

.form-label {
  font-weight: bold;
}

.form-control-wrapper {
  position: relative;
  margin-bottom: 15px;
}

.form-control {
  border-radius: 5px;
  padding: 1px;
  border: 1px solid #ced4da;
  width: calc(100% - 20px);
}

.form-control-label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #6c757d;
}

.invalid-feedback {
  color: #dc3545;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  width: 100%;
  margin: 15px auto;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}
